*{
    margin:0;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar{
    width: 100%;
    height: 10vh;
    /* background: brown; */
}
.navbar-container{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    height: 100%;
    /* padding-left: 10vw; */
}
.logo-container{
    flex:2;
    margin-left: 6vw;
    font-weight: 700;
    font-size: xx-large;
    color:rgb(149, 22, 234);
}
.menu-container{
    flex:6;
}
.menu-list{
    display: flex;
    list-style: none;
}
.menu-list-item{
    margin-right: 1rem;
    font-size: large;

}
.portfolio-container{
    flex:2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.profile-picture{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.profile-text-container{
    font-size: medium;
}
.toggle{
    width:2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: rgba(152, 28, 235, 0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.sun{
    position: absolute;
}
.moon{
    opacity: 0;
}
.sidebar{
    width: 5vw;
    height: 100vh;
    background: black;
    position: fixed;
    top:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}
.sidebar-icons{
    color: white;
    cursor: pointer;
}
.container{
    margin-left: 5vw;
    color: white;
    background-color: black;
    height: 90vh;
}
.featured-image{
    width:100%;
    height:10rem;
}
.featured-content1{

    background-image: 
    linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0)),url('./images/featured_1.jpg');
    
    height: 60vh;
    width: 100%;
    padding-top: 10vh;
}
.featured-content2{

    background-image: 
    linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0)),url('./images/featured_2.jpg');
    
    height: 60vh;
    width: 100%;
    padding-top: 10vh;
}

.featured-description{
    height: 40%;
    width: 30%;

    margin-left: 5%;
    /* margin-top: 10%; */
}
.featured-button {
    background-color:rgb(149, 22, 234);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
  }
.movie-list-wrapper{
    position: relative;
    overflow: hidden;
}
.movie-list-container {
padding: 0 20px;
background-color: black;
} 

.movie-list {
    display: flex;
    align-items: center;
    height: 300px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

.movie-list-item {
    margin-right: 30px;
    position: relative;
}

.movie-list-item:hover .movie-list-item-img {
transform: scale(1.2);
margin: 0 30px;
opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
opacity: 1;
}

.movie-list-item-img {
transition: all 1s ease-in-out;
width: 270px;
height: 200px;
object-fit: cover;
border-radius: 20px;
}

.movie-list-item-title {
background-color: #747474;
padding: 0 10px;
font-size: 32px;
font-weight: bold;
position: absolute;
top: 10%;
left: 50px;
opacity: 0;
transition: 1s all ease-in-out;
}

.movie-list-item-desc{
background-color: #747474;
padding: 10px;
font-size: 14px;
position: absolute;
top: 30%;
left: 50px;
width: 230px;
opacity: 0;
transition: 1s all ease-in-out;
}

.movie-list-item-button {
padding: 10px;
background-color:rgb(149, 22, 234);
color: white;
border-radius: 10px;
outline: none;
border: none;
cursor: pointer;
position: absolute;
bottom: 20px;
left: 50px;
opacity: 0;
transition: 1s all ease-in-out;
}

.arrow {
    font-size: 5rem;
    position: absolute;
    top: 30%;
    right: 0;
    color: gray;
    /* opacity: 0.5; */
    cursor: pointer;
}


.navbar-container.day{
    background-color: white;
    color: black;
}
.sidebar.day{
    background-color: white;
}
.sidebar-icons.day{
    color: black;
}
.container.day{
    background-color: white;
}
.movie-list-title.day{
    color:black;
}

.featured-content1.day{
    background-image: 
    linear-gradient(180deg, rgba(0,0,0,0), rgb(255, 255, 255)),url('./images/featured_1.jpg');
}
.featured-content2.day{
    background-image: 
    linear-gradient(180deg, rgba(0,0,0,0), rgb(255, 255, 255)),url('./images/featured_2.jpg');
}

.movie-list-container.day{
    background-color: white;
}
.moon.day{
    opacity: 1;
    color: black;
}
.sun.day{
    opacity: 0;
}
