*{
    margin:0;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:xx-large
}
.outer-container{
    /* background-image: 
    linear-gradient(180deg, rgba(0,0,0,0), rgb(255, 255, 255)),url('./images/IMG_20230527_223106.jpg'); */
    background-size:cover;
}
.movie-title{
    text-align: center;
    color: white;
}
.movie-details{
    display: flex;
    justify-content: space-around;
}